<div class="title p-3 is-flex">
 {{> icons/logo}}
  <p id="title" class="has-text-black" style="text-decoration: none;"><div class="ml-4">REVmetry</div></p>
  
</div>
<a role="button" class="navbar-burger" aria-label="navMenu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      
    </a>
   

