{{> menu active="about"}}

<section class="box is-3 has-text-centered content">
  <h1 class="title">
    Car monitoring webapp.
  </h1>
  <div class="section">
    <h3>
      REVmetry
    </h3>
    <br>
  <h4 class="has-text-left">Some features for this release: </h4>
    <div class="list">
      <div class="list-item has-text-left">
        <p>Hello</p>
    </div>
  </div>
</section>